html, body {
    height: 100%;
    margin: 0;
}

.text-gradient {
    background: linear-gradient(
        to right,
        rgb(var(--v-theme-primary)) 30%,
        rgb(var(--v-theme-secondary)) 70%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.medium-font {
    font-size: 20px;
}

.spotify-green-text {
    color: $spotify-green
}
