@import 'colors';

html, body {
    height: 100%;
    margin: 0;
}

.text-gradient {
    background: linear-gradient(
        to right,
        rgb(var(--v-theme-primary)) 30%,
        rgb(var(--v-theme-secondary)) 70%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    border: solid 1px transparent!important;
    background-image: linear-gradient(white, white), linear-gradient(to bottom, $primary-color, $secondary-color)!important;
    background-origin: border-box!important;
    background-clip: content-box, border-box!important;
}

.medium-font {
    font-size: 20px;
}

.spotify-green-text {
    color: $spotify-green
}

.section-padding {
  margin-top: 100px;
}

.link {
    text-decoration: none;
    color: white;
    transition: color .5s;
}

.link:hover {
    color: $secondary-color;
}

.technology-icon-container {
    width: 80px;
    height: 110px;
    margin: 20px;
}
